<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Home", pages_home_path %></li>
      <li><%= link_to "Contact Us", pages_contactus_path %></li>
      <li><%= link_to "Floor Plans", pages_floorplans_path %></li>
    </ul>
  </div>
</nav>